.appWrap {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.mainContent {
    flex: 1 0 auto;
    padding: 1rem;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}